:host {
  display: flex;
  width: 100%;

  &.spoken-to-signed {
    flex-direction: row-reverse;
  }
}

app-language-selector {
  width: calc(50% - 24px);
}

#swap-languages {
  height: 48px;
  margin: 0;

  &[disabled] {
    opacity: 0.5;
  }
}
